extends ../layout/base-plugin-frame

block css
	link(rel="stylesheet", href="/keystone/styles/elemental/elemental.min.css")
	link(rel="stylesheet", href="/keystone/styles/tiny-mce-plugins/#{plugin}/style.min.css")

block js
	script(src='/keystone/js/tiny-mce-plugins/#{plugin}.js')

block content
	// Attach point for new React View
	div#plugin-view(modelName="#{modelName}" fieldName="#{fieldName}" listPath="#{listPath}" itemName="#{itemName}" mode="#{mode}" cloudinaryBrowserImageWidth="#{cloudinaryBrowserImageWidth}" editorId="#{editorId}")